.logo {
    
    width: 55vh;
    height: auto;

}

.header-main {
  position: fixed;
    z-index: 1;
}

.h1:hover{
  background-color: lavenderblush;
  opacity: .5;
}

.magazine {
  width: 40vw;
  height: 40vh;
  will-change: transform;
  display: flex;
  position: absolute;
}

.socials{
  direction: flex;
  flex-direction: column;
  position: fixed;
  font-size: 25pt;
  top: 45%;
  margin: 0;
  padding: 0;
}

.anime {
    width: 100%;
    overflow: hidden;
}

.outer{
  position: absolute;
  left: 50%;
  top: 40%;
  width: auto;
  height: auto;
  max-width: 80vw;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.inner {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 55vh;
  max-width: 80vw;
  height: 70vh;
  will-change: transform;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

  
.video {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.embed {
  position: absolute;
  left: 7%;
  top: 25%;
}

.musicLinks {
  display: flex;
  flex-direction: column;
  font-size: 7vw;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
}

.mlink1{
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
.mlink1:hover{
  opacity: 0.5;
}
.mlink2{
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
.mlink2:hover{
  opacity: 0.5;
}
.mlink3{
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
.mlink3:hover{
  opacity: 0.5;
}