.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 22pt;
 background-color: black;
 overflow: hidden;
  
}

.App-logo {
  height: 30vmin;
  pointer-events: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  font-family: 'Turret Road', cursive;
  padding: 10px 60px;
  border-radius: 10px;
  font-size: large;
  background-color: cornflowerblue;
  z-index: 1;
}

button:hover {
  box-shadow: blueviolet;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1;
}



.nav-link1 {
  position: fixed;
  bottom: 25%;
  left: 17%;
}
.nav-link1:hover{
  background-color:lavender;
  opacity: 0.5;
}
.nav-link2 {
  position: fixed;
  bottom: 25%;
  right: 20%;
}
.nav-link2:hover{
  background-color:lavender;
  opacity: 0.5;
}
.nav-link3 {
  position: fixed;
  bottom: 15%;
  left: 17%;
}
.nav-link3:hover{
  background-color:lavender;
  opacity: 0.5;
}
.nav-link4 {
  position: fixed;
  bottom: 15%;
  right: 20%;
}
.nav-link4:hover{
  background-color:lavender;
  opacity: 0.5;
}